<form id="ValidationForm"  class="form-horizontal" novalidate="novalidate" name="filmForm">
	<fieldset class="xianxia">
		<legend>电影信息{{film.title}}</legend>
		<div class="form-group" ng-show="isShowInput">
			<label class="col-lg-3 control-label" name="userID">电影编号</label>
			<div class="col-lg-5">
				<input type="text" class="form-control" name="userID" ng-model="film.id" ng-readonly="isReadOnlyInput" ng-change="validateID()" ng-maxlength="30" ng-minlength="2" required>
				<span class="error" ng-show="filmForm.$dirty && filmForm.userID.$error.required">字段必须填写</span>
				<span class="error" ng-show="filmForm.$dirty && filmForm.userID.$error.minlength">最少2个字符</span>
				<span class="error" ng-show="filmForm.$dirty && filmForm.userID.$error.maxlength">最多30个字符</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label" name="filmname">*名称</label>
			<div class="col-lg-5">
				<input type="text" class="form-control" name="filmname" ng-model="film.name"  ng-maxlength="10" required>
				<span class="error" ng-show="filmForm.$dirty && filmForm.username.$error.required">字段必须填写</span>
				<span class="error" ng-show="filmForm.$dirty && filmForm.username.$error.maxlength">最多10个字符</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label">*导演</label>
			<div class="col-lg-5">
				<input type="text" class="form-control" name="password" ng-model="film.director" required>
				<span class="error" ng-show="filmForm.$dirty && filmForm.password.$error.required">字段必须填写</span>
			</div>
		</div>
		<div class="form-group" ng-show="true">
			<label class="col-lg-3 control-label">*类别</label>
			<div class="col-lg-5">
				<label class="checkbox2 inline" ng-repeat="category in categorys">
				<input type="checkbox"  id={{category.id}} name="{{category.name}}" ng-checked = "isSelected(category.name)" ng-click="updateSelection($event,category.name)">{{ category.name }}</label>
			</div>
			<!-- {{selected}} -->
		</div>
		<div class="form-group" ng-show="isShowInput">
			<label class="col-lg-3 control-label">得分</label>
			<div class="col-lg-5">
				<input type="text" class="form-control" name="filmgradecount" ng-model="film.gradecount"  ng-readonly="isReadOnlyInput">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label" >*热度</label>
			<div class="col-lg-5">
				<input type="text" class="form-control" name="filmhot" ng-model="film.hot"  ng-readonly="isReadOnlyInput" required> 
				<span class="error" ng-show="filmForm.$dirty && filmForm.password.$error.required">字段必须填写</span>
			</div>
		</div>
		<div class="form-group"> 
			<label class="col-lg-3 control-label">*简介</label>
			<div class="col-lg-5">
				<textarea class="form-control" name="filmintro" ng-model="film.introduction" rows="5" cols="70" required></textarea>
				<span class="error" ng-show="filmForm.$dirty && filmForm.password.$error.required">字段必须填写</span>
			</div>
		</div>
		<div class="form-group" ng-show="isShowInput">
			<label class="col-lg-3 control-label">评论数</label>
			<div class="col-lg-5">
				<input type="text" class="form-control" name="filmcomment" ng-model="film.comment"  ng-readonly="isReadOnlyInput"> 
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label">*价格</label>
			<div class="col-lg-5">
				<input type="text" class="form-control" name="filmprice" ng-model="film.price" required> 
				<span class="error" ng-show="filmForm.$dirty && filmForm.password.$error.required">字段必须填写</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label">*时长</label>
			<div class="col-lg-5">
				<input type="text" class="form-control" name="filmtime" ng-model="film.time" required>
				<span class="error" ng-show="filmForm.$dirty && filmForm.password.$error.required">字段必须填写</span> 
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label">图片</label>
			<div class="col-lg-5" ng-show="isShowInput">
				<img ng-src="../../{{film.picture}}">
			</div>
			<div class="col-lg-5" ng-hide="isShowInput">
				<input type="file" ngf-select ng-model="picFile" name="file"    
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFile">
			    <i ng-show="myForm.file.$error.required">*required</i><br>
			    <i ng-show="myForm.file.$error.maxSize">图片太大 
			          {{errorFile.size / 1000000|number:1}}MB: 最大 2M</i>
			    <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"><button ng-click="picFile = null" ng-show="picFile">删除</button>
			</div>
		</div>
	</fieldset>
	<div class="form-group">
		<div class="col-lg-4 col-lg-offset-4">
			<button type="submit" class="btn btn-primary" ng-click="addFilm(picFile)">提交</button>
			<!-- <button type="button" class="btn btn-danger" ng-click="deleteUser()">删除</button> -->
		</div>
	</div>
</form>
