<form id="ValidationForm"  class="form-horizontal" novalidate="novalidate" name="commentReplyForm">
	<fieldset class="xianxia">
		<legend>评论回复</legend>
		<div class="form-group">
			<label class="col-lg-3 control-label" name="commentid">评论人编号</label>
			<div class="col-lg-5">
				<input type="text" class="form-control" name="categoryname" ng-model="comment.userid" ng-minlength="2" ng-maxlength="10" ng-readOnly="true">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label" name="commentname">评论人姓名</label>
			<div class="col-lg-5">
				<input type="text" class="form-control" name="categoryname" ng-model="comment.username" ng-minlength="2" ng-maxlength="10" ng-readOnly="true">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label" name="commentContent">评论内容</label>
			<div class="col-lg-5">
				<textarea rows="5" cols="75" class="form-control" ng-readOnly="true" ng-model="comment.comment"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label">回复</label>
			<div class="col-lg-5">
				<textarea rows="5" cols="75" class="form-control" ng-model="comment.reply"></textarea> 
			</div>
		</div>
	</fieldset>
	<div class="form-group">
		<div class="col-lg-4 col-lg-offset-5">
			<button type="submit" class="btn btn-primary" ng-click="addCommentReply()">提交</button>
			<!-- <button type="button" class="btn btn-danger" ng-click="deleteUser()">删除</button> -->
		</div>
	</div>
</form>