<div class="table-responsive">
<div class="row">
<div class="col-sm-4 col-sm-offset-2">
	<div class="dataTables_filter" id="datatable-example_filter">
		<label>按类别查找:
			 <select  ng-model="film.bubbleCategory" ng-options="category.name for category in categorys" ng-change="searchFilmCategory()">
					<option value="">--请选择--</option>
			 </select>
		</label>
	</div>
</div>
<div class="col-sm-4 col-sm-offset-2">
	<div class="dataTables_filter" id="datatable-example_filter"><label>电影查找: <input type="text" aria-controls="datatable-example" ng-model="searchedFilmName" ng-change="searchFilmName()"></label><!-- <button ng-click="searchName()" type="submit">搜索</button>--></div> 
</div>
</div>

<table class="user_info table table-bordered text-center course_info " id="tb_doc_m">
	<thead>
		<tr>
		 	<th style="width:10%">编号</th>
		 	<th style="width:10%">名称</th>
		 	<th style="width:10%">导演</th>
		 	<th style="width:10%">类别</th>		 		
		 	<th style="width:10%">热度</th>		 	
		 	<th style="width:10%">简介</th>		 	
		 	<th style="width:10%">评论数</th>		 	
			<th style="width:10%">价格</th>
			<th style="width:10%">上映时间</th>
		 	<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="film in films">
			<td>{{ film.id }}</td>
			<td>{{ film.name }}</td>
			<td>{{ film.director}}</td>
			<td>{{ film.category}}</td>
			<td>{{ film.hot }}</td>
			<td>{{ film.introduction }}</td>
			<td><a href="#/commentList/{{film.id}}">{{ film.comment }}</a></td>
			<td>{{ film.price }}</td>
			<td>{{ film.time }}</td>
			<td><a href="#/filmDetail/{{film.id}}"><button class="btn  change_info has-margin btn-primary">编辑</button></a>
	 			<button class="btn  btn-danger act_num" ng-click="deleteFilm(film)">删除</button></td>
		</tr>
	</tbody>
 </table>
<div class="row">
	<div class="col-lg-3 col-lg-offset-9">
		<a href="#addFilm"><button type="button" class="btn btn-success addUser">添加电影</button></a>
		<button type="button" onclick="$('#tb_doc_m').tableExport({ type: 'excel', separator: ';', escape: 'false' });"  class="btn btn-warning">
			导出Excel
		</button>
	</div>
	</div>
	 <div class="col-lg-12">
		<tm-pagination conf="paginationConf"></tm-pagination>
	</div>
</div> 